@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 40px;

}

.img{
    width:80vh;
}


.form{
    width: 60vh;
}

.inputData {
  margin-top: 20vh;
  width: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
}

.buttons {
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:60vh;
}

.dainput {
  padding-bottom: 2vh;
  text-align: left;
}
.signin {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: blue;
}
