
.wrapper{
    display: flex;
    flex-direction: row;
    gap:2vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap:2vh;
    justify-content: center;
    align-items: center;
}
img{width:400px}