@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap');


.card{
    
    width:100vh;
    background:url('../../assets/blue.jpeg');
    background-position: center;
    background-repeat: no-repeat;
   

}


.container{
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3vh;
    
   
}

.loader {
    width: 100px;
    height: 100px;
    border: 10px solid white;
    border-bottom-color: rgb(255, 225, 0);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .ver{
        font-family: 'Roboto', sans-serif;
        color:white;
        text-shadow: 2px 2px 2px  gray;
        margin-top: 30px;
    }