@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap');

ul{
list-style-type: none;
text-decoration: none;
text-align: left;



}
li{
    list-style-type:none;
    font-family: 'Roboto', sans-serif
}

h1{text-align: center;}