@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap");

.mainwrap {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
  color: azure;
  width: 25vw;
  height: 60vh;
  z-index: 1;
  margin-top: 20vh;
  margin-bottom: 10vh;
  background-color:
  #383737;
  animation: 0.2s revealup ease;
  animation-fill-mode: forwards;
  
}

.mainwrap img{
    margin-top: -30px;
   max-height: 100PX;
    max-width:300px;
}
.mainwrap p{
   color:azure;
   font-size: smaller;
   padding-top: 1vh;
   margin-left: 300px;
   cursor:pointer;
}
.boxwrap {
  height: 60vh;
  width: 60vh;
  padding-bottom: 1vh;
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  color: azure;
}
li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

@keyframes revealup {
  from {
    opacity: 0;
    transform: translatex(30%);
  }
  to {
    opacity: 1;
    transform: translatex(0%);
  }
}
