
.wrapper{
    align-items: center;
    position: fixed;
    top: 0;
    left:0px;
    width: 100%;
    /* background-color:#f5f5f5; */
    background-color:#FEC734;
    box-shadow: 3px 4px 30px -9px;
  
}