@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap');


.wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   padding-right: 20vh;
}
label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 25vh;
    padding: 1vh;
}
input[type="text"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
}

input[type="text"]:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border:1.5px solid #3D82EB;
    font-family: 'Roboto', sans-serif;
}

input[type="date"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
}

input[type="date"]:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border:1.5px solid #3D82EB
}

.buttonGroup{
    margin-top: 1.5vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap:1vh;

}
.createNew{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:blue;
    line-height: 70px;
    height: 70px;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
    border-radius: 20px;
    padding-left: 95px;
    cursor:pointer;


}

.createNew span{
    
    font-size: 37px;
    padding-right: 40px;
    
}