@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap');


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vh;
    width: 1000px;
}

.wrapper{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
   width:700px;
   
}
label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-right: 25vh;
    padding: 1vh;
}
input[type="text"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
}

input[type="text"]:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border:1.5px solid #3D82EB;
    font-family: 'Roboto', sans-serif;
}

input[type="date"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
}

input[type="date"]:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border:1.5px solid #3D82EB
}

.buttonGroup{
    margin-top: 1.5vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap:1vh;

}
.createNew{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:blue;
    line-height: 70px;
    min-height: 70px;
    width: 45vh;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
    border-radius: 20px;
    padding-left: 95px;
    cursor:pointer;


}

.createNew span{
    
    font-size: 20px;
    padding-right: 20px;
    
}

.img{
    width: 300px;
}