@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.wrapper{
 
    display:flex;
    flex-direction: column;
    padding-left: 2vh;
    max-height: 60vh;
    overflow-y: auto;
    animation: appear 2s linear 1;
 
}
.list_container{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    list-style-type: none;
    text-decoration: none;
    height: 60vh;
    width: 600px;
   
    
   
}

.element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4E4E4E;
    line-height: 70px;
    height: 70px;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
    border-radius: 20px;
    padding-left: 50px;
    cursor:pointer;
    
   
}

.inputWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    gap:1vh;

}
.statusWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    gap:1vh;
   

}

  span{
    padding-left: 6px;
    color:#3D82EB;
    font-size: small;
}


.done{
    display: flex;
    flex-direction: row;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4E4E4E;
    line-height: 70px;
    height: 70px;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out,
    box-border 0.5s ease-in-out; 
    border-radius: 20px;
    padding-left: 50px;
    text-decoration: line-through;
    opacity: 0.3;
    
}
    
.element:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border:1.5px solid #3D82EB;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    color:orange;
}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    margin-top:20px;
    margin-right: 40px;
    border: 3px solid #CBCBCB;
    border-radius: 50%;
    outline:none;
    cursor:pointer;
    
    
  }
 
  input[type="radio"]:checked {
    background-color: #3D82EB;

  }
 
  .formatDate{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color:#3D82EB;
    font-size: small;
    line-height: 70px;

  }

  li .formatDate:hover{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color:#3D82EB;
    font-size:medium;
    line-height: 70px;

  }
 
  .formatProgress{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: small;
    color:blue;
    line-height: 70px;
    animation: appear 0.7s linear infinite;

  }

  .close_button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: red;
    line-height: 70px;
    height: 20px;
    cursor:pointer;
   text-align: center;
   padding-right: 3px;
  }

  h4{margin-top:40px ;
    animation: appear 2s linear 1;
    
  }

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}