@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap');
.wrapper{
    margin-top: 5vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    width: 100vh;
    padding-left: 6vh;
    animation: appear 2s linear 1;
    
    /* border:1px solid black */
}
.head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:3vh;
}

.nohead{
    display:none;
}

.date{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:6vh;
    height:8vh;
    border: 3px solid #3D82EB;
    line-height: 50%;
    background-color: #3D82EB;
    border-radius:15%;
    margin-left: 50px;
}
.month{
    padding-top: 80px;
    color:white;
    font-size: 15px;
    text-shadow: 1px 1px 1px gray;
    margin-bottom: 10px;
    
}
.dayWrapper{
    background-color: white;
    width:100%;
    height: 4.5vh;
    margin-bottom: 77px;
    border-radius:10%;
    
}
.day{
    margin-top: 10px;
    color:#3D82EB;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 1px 1px 1px gray;
}

.today{font-family: 'Roboto', sans-serif;}
    
.dots{
    display:flex;
    gap:4vh;
    margin-left: 10vh;
    font-size: 20px;
    color: #CBCBCB;
    text-shadow: 1px 1px 1px gray;
    margin-top: -30px;
    letter-spacing: 0.5px;
    width:100px;
}


@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }